.active__header {
	font-size: 10rem;
	letter-spacing: 0.5rem;
	margin: $m-size;
}

.active__current {
	font-size: $m-size;
}

.current__header {
	margin: $xs-size;
}

.active__current > p {
	margin: 0;
}

.next__header {
	margin: $xs-size;
}

.active__next > p {
	margin: 0;
}