.playlist__img-container {
	display: flex;
	flex-direction: column;
}

.playlist__album-img {
	transition-duration: .3s;
	z-index: 20;
}

.playlist__album-img:hover {
	opacity: 0.2;
}

.overlay {
	position: relative;
	bottom: 180px;
	z-index: 10;
	visibility: 0;
	font-weight: bold;
}

.picked {
	opacity: 0.2;
}



