.playlist__img-container {
	flex-grow: 1;
}

.playlist__album-img {
	transition-duration: .3s;
	z-index: 10;
}

.playlist__album-img:hover {
	opacity: 0.3;
}

.overlay {
	position: relative;
	bottom: 180px;
	z-index: 1;
	visibility: 0;
}


.picked {
	opacity: 0.3;
}

.album-img__description:hover {

}


