body {
  font-family: Circular, Helvetica, Arial, sans-serif; }

ol {
  padding: 0;
  list-style-type: none; }

ul {
  list-style-type: none; }

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none; }

.landing {
  text-align: center; }

.landing__title {
  font-size: 4.8rem;
  margin-top: 7rem; }

.landing__subtitle {
  font-size: 1.6rem;
  margin-bottom: 7rem; }

.landing__button {
  font-size: 1.2rem;
  padding: 18px 48px 16px;
  background-color: #1db954;
  border: none;
  color: white;
  transition-duration: .3s;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer; }

.landing__button:hover {
  background-color: #1ed760; }

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  text-align: center; }

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem; }

.header__logo {
  font-weight: bold;
  transition-duration: .3s;
  text-decoration: none; }

.header__logo:hover {
  color: #1db954; }

.header__nav > a {
  margin: 0 0.8rem;
  transition-duration: .3s; }

.header__nav > a:hover {
  color: #1db954; }

.active__header {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  margin: 1.6rem; }

.active__current {
  font-size: 1.6rem; }

.current__header {
  margin: 0.8rem; }

.active__current > p {
  margin: 0; }

.next__header {
  margin: 0.8rem; }

.active__next > p {
  margin: 0; }

@media (min-width: 45rem) {
  .active__header {
    font-size: 10rem; } }

.playlist__img-container {
  flex-grow: 1; }

.playlist__album-img {
  transition-duration: .3s; }

.playlist__album-img:hover {
  opacity: 0.3; }

.playlists__list {
  display: flex;
  flex-wrap: wrap; }

.track__button {
  padding: 0.8rem;
  border: none;
  background-color: #1ed760;
  margin: 0.3rem; }
